<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}<title>Blog</title>{% endblock %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_post.css' %}">
    {% block style %}
    {% endblock %}
  </head>
  <body>
    <nav class="nav-bar">
      <div class="logo">
          <img src="{% static 'images/Logo_Kodland.png' %}" alt="logo">
          <a class="header-text" href="/">Блог</a>
      </div>
      <a href="{% url 'add_post' %}"><div class="header-button"><p class="header-button-text">+ Добавить статью</div></a>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>