{% extends "base.html" %}
{% block title %}
<title>Blog</title>
{% endblock %}

{% block content %}
<div class="fresh-article-container">
    <p class="new">NEW</p>
    <div class="fresh-artictle">
        <p>{{ latest_post.title }}</p>
    </div>
    <p class="fresh-article-text">
        {{ latest_post.body|truncatewords:15 }}
    </p>
    <img src="{{ MEDIA_URL }}{{ latest_post.preview }}" alt="Т.к. heroku не сохраняет картинки, она не отобразится" class="fresh-article-preview">
    <a href="{{ latest_post.get_absolute_url }}" class="redirect-btn"><p class="redirect-text">Читать</p></a>
</div>

<span class="other-articles-text">Другие статьи</span>
<div class="other-articles-container">
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}" style="text-decoration: none;">
            <div class="article-container">
                <p style="opacity: 50%; color: black;">28 июня 2019 18:34</p>
                <img src="{{ MEDIA_URL }}{{ post.preview }}" alt="Т.к. heroku не сохраняет картинки, она не отобразится" class="article-preview">
                <span class="articte-title-text">
                    {{ post.title }}
                </span>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}